.row {
  margin: 10px 5px;
  border-radius: 10px;
}

.left {
  padding: 10px auto;
  border-radius: 10px;
}

.right {
  margin: 0px auto;
  border-radius: 10px;
}

.searchCity {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.currentLocation {
  display: inline-block;
  margin: auto 10px;
}

.currentLocation:hover {
  cursor: pointer;
  text-decoration: none;
  color: #894c9c;
  font-size: large;
}

.cf {
  display: inline-block;
  margin: auto 10px;
}

.Clink:hover {
  cursor: pointer;
  text-decoration: none;
  color: #894c9c;
  font-size: large;
}
.Flink:hover {
  cursor: pointer;
  text-decoration: none;
  color: #894c9c;
  font-size: large;
}

.ampm {
  display: inline-block;
  margin: auto 10px;
}

.ampm:hover {
  cursor: pointer;
  text-decoration: none;
  color: #894c9c;
  font-size: 15px;
}

.city {
  line-height: 40px;
  padding: 10px 0;
  margin: 15px auto 0 auto;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  color: white;
}

.searchedCity {
  margin: 15px auto;
}

.currentDate {
  margin: 15px auto;
}

.dailyIcon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.currently {
  line-height: 40px;
  padding: 10px 0;
  margin: 15px auto 0 auto;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  color: white;
}

.currentHour {
  font-size: 30px;
  padding: 15px 0;
}

.iconNow {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.temperature {
  font-size: 17px;
}

.temperature .today {
  font-size: 35px;
}
